.background { 
    text-align: center;
	background-color:rgba(80.745849609375, 27.29115016758442, 65.77853634953499, 0.20000000298023224);	
	width:118.9375rem;
	height:90rem;
	position:absolute;
    
}
.SSUCout{     
	width:50rem;
	height:11.25rem;
	position:absolute;	
	top:8.75rem;
    left: 50%;
    transform: translateX(-50%);
}
.SSUCout_shadow { 
	color:rgba(192.71093040704727, 151.27682894468307, 151.27682894468307, 1);
	width:50rem;
	height:10.6303rem;
	position:absolute;
	left:0rem;
	top:0rem;
	font-family:Inter;
	text-align:center;
	font-size:9.375rem;
	letter-spacing:0;
    
}
.SSUCout_white { 
	color:rgba(255, 255, 255, 1);
	width:50rem;
	height:10.6303rem;
	position:absolute;
	left:0.81256rem;
	top:0.6197rem;
	font-family:Inter;
	text-align:center;
	font-size:9.375rem;
	letter-spacing:0;
    left: 50%;
    transform: translateX(-50%);
}
.welcome_mainscript { 
	color:rgba(89.46581929922104, 89.46581929922104, 89.46581929922104, 1);
	width:52.0625rem;
	height:2.1875rem;
	position:absolute;
	left:6.625rem;
	top:5.4375rem;
	font-family:Inter;
	text-align:center;
	font-size:2rem;
	letter-spacing:0;
    left: 50%;
    transform: translateX(-50%);
}
/* button{
    box-shadow:0px 7px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:774px;
	height:171px;
	position:absolute;
	border-radius:100px;
    left: 50%;
    transform: translateX(-50%);
}  */

/* html,body{
	height:100%;
  }
  body{
	text-align:center;
  }
  body:before{
	content:'';
	height:100%;
	display:inline-block;
	vertical-align:middle;
  } */
  body{
	margin: 0;
  }
  button{
	box-shadow:0rem .4375rem .25rem rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);	
	background:rgba(255, 255, 255, 1);
	color:#fff;
	border:none;
	width:48.375rem;	
	height:10.6875rem;
	position:absolute;
	border-radius:6.25rem;
    left: 50%;
    transform: translateX(-50%);	
	font-size:1.6em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
  }
  button:hover{
	background:#e8e5ea;	
	
  }
  button:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:.125rem;
	width:0;
	/*background: #1AAB8A;*/
	transition:400ms ease all;
  }
  button:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  button:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
  }
  

.mainscript_box1_button_position { 	
	top:24.75rem;        
}
.mainscript_box3_button_position { 
	top:45.5rem;
}
.mainscript_box4_button_position { 	
	top:66.875rem;
}

.mainscript_box_text { 
	color:rgba(154.18440252542496, 139.5058661699295, 163.18090617656708, 1);
	width:38.5625rem;
	height:4.1875rem;
	position:absolute;
	left:5.5625rem;
	top:3.9375rem;
	font-family:Inter;
	text-align:center;
	font-size:2.5rem;
	letter-spacing:0;
    left: 50%;
    transform: translateX(-50%);
}

