body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Inter-Black_Italic";
  src: url('./fonts/Inter-Black-Italic.ttf.woff');
  font-style: normal;
}

@font-face {
	font-family: "The-Jams";
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url('./fonts/Pretendard-Regular.woff');
	font-style: normal;
}

@font-face {
	font-family: "Pretendard-Bold";
	src: url('./fonts/Pretendard-Bold.woff');
	font-style: normal;
}